body{
    background-color: #82AAE3;
    font-family: "Montserrat";
    color: white;
    text-align: center;
}
#city{
    margin:8px;
    border:5px solid transparent;
    border-radius: 4px;
    font-family: "Montserrat";
    background-color: #EAEAEA;
    background-color: white;
}

#submit{
    margin:8px;
    border: 5px solid transparent;
    border-radius: 4px;
    background-color: white;
    margin-left: 5px;
    font-family: "Montserrat";
    cursor: pointer;
}
#submit:hover{
    background-color: aliceblue;
}
