body{
    background-color: #82AAE3;
    font-family: "Montserrat";
    color: white;
    text-align: center;
}
#city{
    border:5px solid transparent;
    border-radius: 4px;
    font-family: "Montserrat";

}
#submit{
    border: 5px solid transparent;
    border-radius: 4px;
    background-color: white;
    margin-left: 5px;
    font-family: "Montserrat";
}
#submit:hover{
    background-color: aliceblue;
}
